<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Beecom_CustomStockStatus::rules" title="Beecom Custom Stock Status Rules" sortOrder="30">
                    <resource id="Beecom_CustomStockStatus::rule" title="Beecom Custom Stock Status Rule" sortOrder="30">
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Beecom_CustomStockStatus::stock" title="Beecom Custom Stock Status"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
